@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 173, 216, 230; /* Light blue color */
  --background-end-rgb: 70, 130, 180; /* Darker blue color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  background-image: linear-gradient(
    to bottom left,
    transparent,
    rgb(var(--background-end-rgb))
  );
  background-repeat: no-repeat;
  background-size: cover;
}
